<div class="row-fluid">
  <div class="span12 actions">
    <div class="page-header">
      <%= link_to 'Ingresa un Repuesto!', new_part_supply_path, :class => 'btn btn-primary btn-large pull-right' %>
      <h2><%= @page_title %></h2>
    </div>
  </div>
</div>