<div class="row">
  <div class="col-md-12 actions">
    <div class="page-header">
      <%= link_to 'Volver!', admin_orders_path, :class => 'btn pull-right' %>
      <h2><%= @page_title %></h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">

  </div>
</div>