<div class="row">
  <div class="col-md-12 actions">
    <div class="page-header">
      <%= link_to 'Volver!', part_supplies_path, :class => 'btn pull-right' %>
      <h2><%= @page_title %></h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form', is_edit: false %>
  </div>
</div>